on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "qa" ]
  pull_request:
    branches: [ "qa" ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: PrimeroJob
    steps:
    - uses: actions/checkout@v2
    - name: Executando o STEP1
      run:
        echo Usando a Branch de QA!
